<h1>Sushi List</h1>
<h3>Log in or sign up to access your sushi list.</h3>

<div class="ui grid">
  <div class="eight wide column">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui form'}) do |f| %>
    <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "ui button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="eight wide column">
    <span style="color:gray">(hint, hint)</span><br />
    <span style="color:gray">rails db:create db:migrate db:seed</span><br />
    <span style="color:gray">user: 'test@test.com', password: 'password'</span>
  </div>
</div>
